.input-group {
    position: relative;
    margin: 30px 0;
    width: 300px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    color: #1d1d1d;
}

.input-group label {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    pointer-events: none;
    color: #1d1d1d;
    transition: all 0.3s ease;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -10px;
    padding: 0 5px;
    font-size: 12px;
    color: #3498db;
    background-color: white;
}